html, body {
	padding: 0;
	margin: 0;
	background-color: rgb(75, 75, 75);
	font-family: arial;
	color: white;
}

hr {
	border: 1px solid silver;
}

div.code {
	font-family: arial;
	background-color: grey;
	padding: 5px;
	color: white;
	width: 100%;
	border-radius: 5px;
}

.pageTitle {
	padding: 10px;
}

.content-wrapper {
	margin-left: 20%;
	margin-right: 20%;
	background-color: rgb(240, 240, 240);
	color: black;
	border-radius: 5px;
}

.content {
	padding: 15px;
}
